/.github
/csaf-validator-lib
/.gitlab-ci.yml
/CONTRIBUTING.md
/MARKDOWN-GUIDE.md
/PREVIEW-TEMPLATING.md
/README.md
/docs
/data

/app/lib/app/SecvisogramPage/View/shared/HTMLTemplate/TemplateCsaf2_0.html
/app/lib/app/SecvisogramPage/View/shared/HTMLTemplate/TemplateCsaf2_1.html
/app/build
/app/.nyc_output
/app/coverage
/app/public
/app/vendor/first

/bin/build

cvss-v4.0.json
